
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="logo">
        <a href="/"><img class="ml-5" src="images/logo.gif" alt="isLogo"></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse navmenu" id="navbarSupportedContent" style="margin-left: 200px;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a id="home" href="/"><%= __('Home') %></a></li>
        <li class="nav-item"><a href="/news"><%= __('News') %></a></li>
        <li class="nav-item"><a href="/company"><%= __('Company') %></a></li>
        <li class="nav-item"><a href="#service"><%= __('Service') %></a></li>
        <li class="nav-item"><a href="#contact"><%= __('Contact') %></a></li>
        <li class="nav-item">
            <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Language
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/change-lang/vi" style="position: absolute;">Vietnamese</a>
                <a class="dropdown-item" href="/change-lang/jp" style="position: absolute; margin-top: 30px;">Japanese</a>
            </div>
            </div>
        </li>
        <li class="nav-item"><a href="/admin"><i class="fas fa-lg fa-users-cog"></i></a></li>
      </ul>
    </div>
  </nav>